{{#each products}}
    <h3>{{this.title}}</h3>
    <li>descripcion: {{this.description}}</li>
    <li>precio: {{this.price}}</li>
    <li>codigo: {{this.code}}</li>
    <li>stock: {{this.stock}}</li>
{{/each}}
